<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #line {
            text-decoration: none;
            list-style: none;
            word-wrap: break-word;
            width: 200px;
            float: left;
        }
        #fabo {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">お気に入りレシピ</h2>
        <li id="line">
            <a target="_blank" class="col-xs-3" href="https://recipe.rakuten.co.jp//recipe/1600023362/"><img src="https://jp.rakuten-static.com/recipe-space/d/strg/ctrl/3/6390164bd77242217bc1bf943bc813d18a58fa15.61.2.3.2.jpg?thum=56" alt="6390164bd77242217bc1bf943bc813d18a58fa15.61.2.3.2"></a>
            <br>
            <a target="_blank" href="https://recipe.rakuten.co.jp//recipe/1600023362/">なすごま つけ汁うどん</a><p id="fabo">♡</p>
        </li>
        <li id="line">
            <a target="_blank" class="col-xs-3" href="https://recipe.rakuten.co.jp//recipe/1600023352/"><img src="https://jp.rakuten-static.com/recipe-space/d/strg/ctrl/3/6775b62bb86ff27fc657cd03d6f0f071f8cbdfaf.61.2.3.2.jpg?thum=56" alt="6775b62bb86ff27fc657cd03d6f0f071f8cbdfaf.61.2.3.2"></a>
            <br>
            <a target="_blank" href="https://recipe.rakuten.co.jp//recipe/1600023352/">なすの蒲焼き丼</a><p id="fabo">♡</p>
        </li>
    </div>
</body>
</html>